@import "./font.css";
* {
  font-family: IRANYekanRegular;
}
body {
  direction: rtl;
  text-align: right;
  background-color: #f5f5f5;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}
a {
  text-decoration: none !important;
  color: #707173;
  font-family: IRANYekanRegular;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
}
.splide__pagination {
  bottom: -25px!important;
}
.splide__pagination__page {
  border: 1px solid #2F37FF !important;
  background-color: #fff !important;
  height: 15px !important;
  width: 15px !important;
  &.is-active {
    background-color: #7A6EFF !important;
    height: 15px !important;
    width: 15px !important;
  }
}
.v-btn__content {
  letter-spacing: 0 !important;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background: #FDFDFD;
  min-height: 100vh;
}
.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 45px;
  .intro-image {
    width: 100%;
    svg {
      width: 100%;
    }
  }
  p {
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    color: #575353;
  }
}

.account-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 30px;
}
.main-category-list-header, .main-doctor-list-header, .main-blog-list-header {
  .title {
    font-family: IRANYekanRegular;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #4B6C88;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #BCDFFF;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
.category-list-item {
  .category-title {
    color: #4B6C88;
    font-size: 12px;
  }
  .image-box {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.main-category-list {

}
.doctor-list-item {
  height: 120px;
  width: 270px;
  margin-bottom: 20px;
  .doctor-list-item-content {
    position: relative;
    box-shadow: 0 2px 10px 0 #7CA6E7;
    background: #DAEDFF;
    height: 90px;
    border-radius: 15px;
    .image-box {
      height: 100%;
      display: flex;
      flex: 1;
      img {
        height: 110px;
        position: absolute;
        bottom: -2px;
      }
    }
    .doctor-list-item-details {
      display: flex !important;
      flex: 2;
      height: 100%;
      padding-right: 15px;
      .doctor-name {
        color: #4930E3;
        font-family: IRANYekanRegular;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        text-align: right;
      }
      .doctor-profession-name {
        color: #6A6ED1;
        font-family: IRANYekanRegular;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0;
        text-align: right;
      }
    }
    .more-button {
      height: 22px;
      width: 70px;
      position: absolute;
      bottom: -15px;
      left: 0;
    }
  }
}
.more-button {
  color: #FFF;
  width: 100%;
  height: 42px;
  border-radius: 15px;
  font-family: IRANYekanRegular;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4930E3;
  background: #7CA6E7;
}
.blog-list-item {
  background: #FAFAFA;
  height: 130px;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  min-width: 300px;
  border: 1px solid #dfdede;
  box-shadow: 0 2px 10px 0 #dfdede;
  margin-bottom: 10px;
  .image-box {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .blog-content {
    font-family: IRANYekanRegular;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: right;
    color: #303F8F;
    height: 100%;
    .created-at-fa {
      font-family: IRANYekanRegular;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0;
      text-align: right;
      color: #717171;
    }
  }
}
.profile-page {
  .profile-title {
    margin-top: 50px;
    font-family: IRANYekanRegular;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: #4B6C88;
  }
  .profile-full-name {
    font-family: IRANYekanRegular;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
  }
}
.profile-link {
  width: 100%;
  height: 52px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: #FFFFFF;
  box-shadow: 1px 4px 12px 0 #BCDFFF;
  margin-bottom: 20px;
  .title {
    font-family: IRANYekanRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: right;
    color: #605D5D;
  }
}
.exit-button {
  width: 100%;
  height: 52px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px 0px #B9353540;

  .title {
    font-family: IRANYekanRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    color: #FF5959;
  }
}
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
.category-list-content {
  background: #FFFFFF;
  min-height: 52vh;
  background: linear-gradient(169.03deg, #DEF9F0 1.04%, rgba(222, 249, 240, 0) 51.04%),
  linear-gradient(212.37deg, #E3F7FF 14.73%, rgba(244, 252, 255, 0) 115.73%);
  border-radius: 45px 45px 0 0;
  &.has-child {
    background: none !important;
  }
}
.category-logo {
  width: 100%;
  display: flex;
  background: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30px 30px;
  &.has-child {
    background: linear-gradient(143.93deg, #DEF9F0 9.25%, rgba(222, 249, 240, 0) 44.54%), linear-gradient(0deg, #F4FCFF, #F4FCFF);
  }

  img {
    width: 65%;
    max-width: 300px;
  }
}
.single-blog-item {
  width: 100%;
  border-radius: 30px 0 30px 30px;
  box-shadow: 1px 2px 12px 0 #BCDFFF;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 13px;
  .article-thumbnail {
    height: 46px;
    width: 46px;
  }
  .title {
    font-family: IRANYekanRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: right;
    color: #4B6C88;
    margin-right: 10px;
  }
}